/* 웹폰트 선언 */
@font-face {
  font-family: 'MaplestoryWeb';
  src: url('./MaplestoryOTFLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaplestoryWeb';
  src: url('./MaplestoryOTFBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* CSS 변수 설정 */
:root {
    --primary-font: 'MaplestoryWeb';
    --heading-font: 'MaplestoryWeb';
    --accent-font: 'MaplestoryWeb';
    --korean-font: 'MaplestoryWeb';
}


/* 블록 수식 크게: $$ ... $$ */
.math.display {
  font-size: 1.2em !important;
  margin: 1em 0 !important;
}

/* 인라인 수식은 약간 크게: $...$ */
.math.inline {
  font-size: 1.15em !important;
}

/* 기본 스타일 */
body {
    font-family: var(--primary-font);
    font-size: 1.0rem;
    line-height: 1.0;
    margin: 0;
    padding: 0;
    background-color: #fcfcf7;
    color: #555;
}

/* 제목 스타일 */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #ff6f61;
    margin-bottom: 1.0em;
    text-shadow: none;
}


/* 일반 텍스트 스타일 */
p {
    font-size: 1.15rem;
    color: #333;
    line-height: 1.8;
    font-family: var(--primary-font);
}

/* 목록스타일 */
li {
    font-size: 1.15rem;
    font-family: var(--primary-font);
}

/* 링크 스타일 */
a {
    font-size: 1.15rem;
    text-decoration: none;
    color: #ff6f61;
    font-family: var(--accent-font);
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #d64b40;
}

/* 반응형: 태블릿 */
@media (max-width: 1024px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.15rem;
    }

    li {
        font-size: 1.15rem;
    }
}

/* 반응형: 모바일 */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.15rem;
    }
    
    li {
        font-size: 1.15rem;
    }    
} 

